# Database
sqlalchemy
alembic
psycopg2-binary
python-dotenv

# Data fetching & processing
pandas
requests
httpx
apscheduler
openmeteo-requests
requests-cache
retry-requests

# Modeling
numpy
scipy
statsmodels
scikit-learn
xgboost
joblib

# API
fastapi
uvicorn

# Testing
pytest
